@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.carousel-indicators [data-bs-target]{
    background-color: #9999998e;
}

:root {
  /* colors variables */
  --black: #000000;
  --white: #ffffff;
  --primary: #ED0200;

  /* fobt-size variables */
  --heading1: 32px;
  --title: 26px;
  --large: 24px;
  --medium: 16px;
  --small: 14px;
  --x-small: 12px;
}

#popular-des-section, 
#our-ser-section, 
#end-to-end-section, 
#five-star-service, 
.arrow_container, 
#success-stories,
#social-media-review, 
#certificates-section, 
#free-cunsult-section, 
#footer-menu-content{
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.carousel-indicators{
    bottom: -34px;
    right: -34%;
}
header{
   position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.preheader {
  background-color: var(--black);
  color: var(--white);
  padding: 8px 0;
}

.preheader .left,
.preheader .right {
  font-size: var(--x-small);
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.preheader .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--white);
  
}

.preheader .icon-text.whatsapp {
  background-color: #52BA63;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--white);
  padding: 2px 14px;
  border-radius: 100px;
  font-weight: 600;
  height: fit-content;
}

.preheader .icon-text.whatsapp img {
  max-height: 20px;
}

.preheader .icon-text.contactUs {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 1px 7px;
  border-radius: 50px;
  height: fit-content;
}


.main-header {
  padding: 5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
}

.main-header .header {
  display: flex;
}

.main-header .header-logo {
  width: 20%;
}

.main-header .header-logo img {
  max-width: 130px;
}

.main-header .dekstop-menu {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: var(--medium);
}

.main-header .dekstop-menu .active a{
  color: var(--primary);
}
.main-header .dekstop-menu li a{
  text-decoration: none;
  color: #252525;
  font-size: var(--small);
}
.main-header .dekstop-menu li {
  cursor: pointer;
  position: relative;
}
.main-header .dekstop-menu li::before {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}
.main-header .dekstop-menu li:hover::before {
  width: 100%;
}
.main-header .dekstop-menu li:hover a {
  color: var(--primary);
}
.main-header .dekstop-menu .active::before {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: 0;
}

#hero-section {
  margin-top: .5rem;
  padding-bottom: 4rem;
  position: relative;
}
#hero-section .down-arrow-gif{
  width: 40px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}

#hero-section .left {
  width: 75%;
}

#hero-section .right {
  width: 25%;
}

#hero-section .carousel-indicators .active {
  background-color: var(--primary);
}

.form-label1 {
  color: var(--white);
  font-size: var(--x-small);
}

.form-control1 {
  background-color: #EEE;
  backdrop-filter: blur(1.707692265510559px);
  border-radius: 6px;
  font-size: var(--x-small);
  padding: 5px 10px;
  outline: none;
  border: none;
}

.cunsult-form {
  border-radius: 10px;
  border: 1px solid #FFF;
  background: linear-gradient(172deg, #C90306 2.85%, #750304 93.97%);
  backdrop-filter: blur(5.123076915740967px);
  padding: 1rem;
  font-weight: 300;
  min-height: 100%;
  position: relative;
}

.cunsult-form-footer {
  width: calc(100% - 2rem);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.cunsult-form-footer input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.cunsult-form .cunsult-form-title {
  font-size: var(--large);
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-thickness: .5px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cunsult-form .btn {
  padding: 5px 10px;
  font-size: var(--medium);
  background-color: #EEE;
}

.cunsult-form .form-control {
  padding: 7px 10px;
  font-size: var(--x-small);
  background-color: #EEE;
  border: none;
  outline: none;
}

.cunsult-form .form-control:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.cunsult-form .whatsapp-lable {
  font-size: var(--x-small);
  color: var(--white);
}

/* .cunsult-form .accept-term input{

} */
.cunsult-form .accept-term p {
  color: var(--white);
  font-size: var(--x-small);
}

.cunsult-form .buttonBox button {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  border: none;
  padding: 5px 0;
  border-radius: 7px;
  font-size: var(--small);
  font-weight: 600;
}

.cunsult-form .dropdown-toggle {
  font-size: var(--x-small);
}

#popular-des-section {
  background-color: #F9F9F9;
  position: relative;
}

.cross-line1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.cross-line2 {
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 1;
}

.cross-line3 {
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
}

.cross-line4 {
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
}

.cross-line5 {
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 1;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section-title h2 {
  font-size: var(--title);
  position: relative;
  width: fit-content;
}

.section-title h2::before {
  content: "";
  width: 44px;
  height: 100%;
  background-image: url(../assets/extra/heading-extra.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -16px;
  right: -27px;
}

.section-title h2 span {
  color: var(--primary);
  font-weight: 700;
}

.section-title p {
  font-size: var(--x-small);
  text-transform: initial;
}

.filp-card-main {
  width: 80%;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  /* height: 210px; */
  height: 228px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--white);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10px;
}

.flip-card-front .popular-tag-box {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 65px;
  text-align: center;
}

.flip-card-front .popular-tag-box .popular-tag {
  background-color: var(--primary);
  padding: 2px;
  font-size: var(--x-small);
  border-radius: 3px;
  color: var(--white);
}

.flip-card-front .popular-tag-box .swap-icon {
  text-align: right;
  margin-top: .5rem;
}

.flip-card-front .flip-card-flag {
  margin-bottom: 2rem;
  width: 28%;
}
.flip-card-front .flip-card-text{
  max-width: 35%;
}
.flip-card-back {
  background-color: var(--white);
  transform: rotateY(180deg);
  padding: 1rem;
  border-radius: 10px;
}

.flip-card-back h4 {
  font-weight: 600;
  font-size: var(--large);
}

.flip-card .sevices-list {
  padding-left: 1rem;
  line-height: 25px;
  list-style-image: url(../assets/svg-icons/custom-lis-style.svg);
  color: #000000;
}
.flip-card .sevices-list li{
  font-size: var(--x-small);
  padding-left: .8rem;
}


#our-ser-section {
  background-color: var(--white);
  position: relative;
}

#our-ser-section .service-card {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  height: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 7;
}

#our-ser-section .service-card .card-header {
  padding: 1rem;
  border-radius: 7px 7px 0 0;
}

#our-ser-section .service-card.red {
  background: linear-gradient(180deg, #B43937 0%, #4E1918 100%);
}

#our-ser-section .service-card.yellow {
  background: linear-gradient(180deg, #BB9630 0%, #554416 100%);
}

#our-ser-section .service-card.green {
  background: linear-gradient(180deg, #3F8C57 0%, #112618 100%);
}

#our-ser-section .service-card.blue {
  background: linear-gradient(180deg, #41569F 0%, #171F39 100%);
}

#our-ser-section .service-card .card-header img {
  max-width: 90px;
}

#our-ser-section .service-card .card-header h5 {
  font-size: var(--medium);
  margin-bottom: 0;
  margin-top: 1rem;
  color: var(--white);
}

#our-ser-section .service-card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 0 0 7px 7px;
}

#our-ser-section .service-card .card-body p {
  font-size: var(--x-small);
  color: #252525;
}

#our-ser-section .service-card .card-body a {
  font-size: var(--x-small);
  color: #252525;
}

#end-to-end-section {
  background-color: #F9F9F9;
  position: relative;
}

#end-to-end-section::before {
  content: "";
  width: 150px;
  height: 160px;
  position: absolute;
  top: 40px;
  left: 20px;
  background-image: url(../assets/extra/end-to-end-left.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#end-to-end-section::after {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  background-image: url(../assets/extra/end-to-end-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#end-to-end-section .end-to-end-svg-box {
  width: 50%;
  margin: auto;
  position: relative;
}

#end-to-end-section .end-to-end-svg-box .svg-man-box {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

#end-to-end-section .end-to-end-svg-box .svg-man-box .end-to-end-bulb {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 80px;
}

#five-star-service {
  background-color: var(--white);
  position: relative;
}

/* #five-star-service .five-star-container {
  margin-top: 2rem;
} */

#five-star-service .five-star-service {
  color: var(--white);
  padding: 1rem 3.5rem;
  border-radius: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#five-star-service .five-star-service.super-fast {
  background: linear-gradient(90deg, #B43937 0%, #682E2D 100%);
}

#five-star-service .five-star-service.fair-pricing {
  background: linear-gradient(90deg, #3F8C57 0%, #112618 100%);
}

#five-star-service .five-star-service.convenient {
  background: linear-gradient(90deg, #41569F 0%, #171F39 100%);
}

#five-star-service .five-star-service.precise {
  background: linear-gradient(90deg, #D07912 0%, #6A3E09 100%);
}

#five-star-service .five-star-service.reliable {
  background: linear-gradient(90deg, #7F56C1 0%, #3C295B 100%);
}

#five-star-service .five-star-service.feedback {
  background: linear-gradient(90deg, #BB9630 0%, #554416 100%);
}

#five-star-service .five-star-service-image {
  width: 140px;
  height: 140px;
  background-color: var(--white);
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.14));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#five-star-service .five-star-service-image img {
  max-height: 100%;
  max-width: 80%;
}

#five-star-service .five-star-service h5 {
  font-size: var(--medium);
}

#five-star-service .five-star-service p {
  font-size: var(--x-small);
  font-weight: 300;
  margin-bottom: 0;
  width: 75%;
}






.simple-step-image {
  width: 35%;
  margin: auto;
}

.simple-image-content {
  height: 300px;
  padding: 0rem 2rem;
}

.simple-image-content .simple-step-lable {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

.simple-image-content .simple-step-lable img {
  max-width: 27px;
}

.simple-image-content .simple-step-lable p {
  color: var(--primary);
  font-size: var(--small);
  margin-bottom: 0;
  font-weight: 500;
}

.simple-image-content h5 {
  font-weight: 600;
  color: #002147;
}

.simple-image-content p {
  color: #666965;
  font-size: var(--medium);
}


#success-stories {
  position: relative;
}



.post-slide {
  background: #fff;
  margin: 0 15px;
  border-radius: 10px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
  /*transform: scale(1.1, 1.1);*/
}

.post-slide .over-layer {
text-decoration: none;
 display: flex;
 align-items: center;
 gap: .5rem;
 color: var(--white);
 position: absolute;
 bottom: 5px;
 left: 5px;
 width: 80%;
 border-radius: 20px;
 padding: 2px;
 transition: all .5s ease;
 cursor: pointer;

}
.post-slide .over-layer i{
  border: 2px solid var(--white);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  transition: all .5s ease;
}
.post-slide:hover .over-layer {
 background-color: hsla(0,0%,100%,.48);
}
.post-slide:hover .over-layer i{
  color: green;
  background-color: var(--white);
}



.post-slide .post-content {
  background: #fff;
  padding: 7px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.post-slide .post-content img {
  width: 30px;
}

.post-slide .post-content h5 {
  font-size: var(--small);
  margin-bottom: 0;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: 44%;
  left: -9px;
  width: 32px;
  height: 32px;
  /* padding: 0 11px 0 15px; */
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: 44%;
  right: -9px;
  width: 32px;
  height: 32px;
  /* padding: 0 11px 0 15px; */
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: var(--primary);
  font-size: 20px;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}

.youtube-video {
  width: 100%;
  height: 70vh;
}


#social-media-review {
  background-color: #F9F9F9;
  position: relative;
}
#social-media-review::before {
  content: "";
  width: 51px;
  height: 81px;
  position: absolute;
  top: 111px;
  left: 0px;
  background-image: url(../assets/extra/social-medeia-review-left.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#social-media-review::after {
  content: "";
  width: 73px;
  height: 78px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url(../assets/extra/social-medeia-review-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


#social-media-review .review-card-container .review-card {
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: .5rem;
  width: 100%;
  height: 100%;
}

/* #social-media-review .review-card-container {
  margin-top: 1.5rem;
} */

.review-card .review-header .user img {
  width: 30px;
}

.review-card .review-header h5 {
  font-size: var(--medium);
}

.review-card .review-body p {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: var(--x-small);
}

#certificates-section{
  background-color: var(--white);
}

#certificates-section .certificate-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
      align-items: center;

}

#certificates-section .certificate-container .certificate-img {
  max-width: 70%;
}

#free-cunsult-section { 
  background-color: #F9F9F9;
  position: relative;
}

.free-cunsult-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 3;
  position: relative;
}

.free-cunsult-container img {
  max-width: 100%;
}

.get-started-btn {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 5px 0;
  font-weight: 600;
}

#footer-menu-content{
  background-color: #F9F9F9;
  margin-top: .5rem;
  padding-bottom: 1rem;
  border-top: 1px solid #666965;
  border-bottom: 1px solid #666965;
  position: relative;
}
#footer-menu-content .back-to-home{
  position: absolute;
  top: 40px;
  right: 30px;
  width: 100px;
}
.footer-menu-container .quick-links-label{
  color: #252525;
  font-size: var(--small);
}
.footer-menu-container .quick-link{
font-size: var(--small);
color: var(--primary);
text-decoration: none;
}
.footer-menu-bottom{
  margin-top: 5rem;
}
.footer-menu-bottom .payment-options p{
font-size: var(--small);
margin-bottom: 0;
}
.footer-menu-bottom .payment-options img{
  max-width: 220px;
}
#footer-menu-content .footer-menu-bottom-right{
  display: flex;
  justify-content: right;
  gap: 1rem;
  align-items: center;
}
#footer-menu-content .footer-menu-bottom-right .feedback{
  text-decoration: none;
  font-size: var(--x-small);
  color: #252525;
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 2px 15px;
}
#footer-menu-content .footer-menu-bottom-right .partner-with-us{
  text-decoration: none;
  font-size: var(--x-small);
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 2px 15px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  gap: .5rem;
}
#footer-menu-content .footer-menu-bottom-right .partner-with-us img{
  width: 14px;
}
#footer-menu-content .footer-menu-bottom-right .contact-us{
  text-decoration: none;
  font-size: var(--x-small);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 2px 15px;
}
#copyright .copyright-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-bottom: 3rem;
}
#copyright .copyright-header p{
  font-size: var(--small);
}
#copyright .copyright-header span{
  font-size: var(--small);
  color: var(--primary);
}







#travel-visas{
  padding-bottom: 4rem;
  /* background-color: #FBFBFB; */
}
#travel-visas .travel-title{
  position: relative;
  padding-left: 1rem;
  display: block;
  margin-bottom: 0;
  font-size: var(--small);
}
#travel-visas .travel-title::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: black;
  left: 0;
  top: 0;
}
#travel-visas .custom-width{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.travel-title-main{
  margin: 2rem 0;
}
#travel-visas .QAdropdown-box{
  background-color: #FBFBFB;
  padding: 1rem 0rem;
}
#travel-visas .accordion-item{
margin-bottom: 2rem;
border-radius: 40px;
}
#travel-visas .accordion-button{
border-radius: 40px;
font-size: var(--medium);
font-weight: 500;
padding: 10px 30px;
}
#travel-visas .accordion-button:focus{
  box-shadow: 0 0 0 0.05rem var(--primary);
}
#travel-visas .accordion-item .accordion-body{
  font-size: var(--small);
}
#travel-visas .accordion-item .accordion-button::after{
  box-shadow: 0px 0px 4px 0.5px rgba(0,0,0,0.25);
  width: 30px;
    height: 30px;
    background-position: center;
    border-radius: 50%;
    color: var(--primary);
    background-size: 12px;
}
#travel-visas .QAdropdown-box p{
  font-size: var(--small);
  padding-left: .5rem;
}



#popular-s-desti{
  padding: 2rem 0 4rem 0;
}
#popular-s-desti .popular-d-card-container{
  width: 70%;
  margin: auto;
}
.popular-d-card .d-card-footer{
  text-align: center;
}
.popular-d-card .d-card-footer h5{
  font-weight: 700;
  font-size: var(--medium);
}
.popular-d-card .d-card-footer p{
  font-size: var(--small);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  width: 90%;
  margin: auto;
}

.popular-d-card .d-card-footer p span{
  color: var(--primary);
  font-weight: 600;
}


#universities-courses{
  padding: 2rem 0 4rem 0;
  background-color: #F9F9F9;
}
#universities-courses .all-universities{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  place-items: center;
}

#discover-course-banner, .why-choose-samyama{
  padding: 2rem 0 4rem 0;
}
.why-choose-samyama .why-choose-card{
  text-align: center;
}
.why-choose-samyama .why-choose-card img{
  max-width: 40%;
  margin-bottom: .5rem;
}
.why-choose-samyama .why-choose-card .wc-footer h5{
  font-size: var(--medium);
  font-weight: 600;
}
.why-choose-samyama .why-choose-card .wc-footer p{
  font-size: var(--small);
}
.why-choose-samyama .why-choose-card .wc-footer{
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.20);
  padding: 1rem;
  border-radius: 60px;
}

#veraity-coaching{
  padding: 2rem 0 4rem 0;
  background-color: #F9F9F9;
}










































































































































































.arrow_container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  background-color: #f4f4f4;
  position: relative;
}

.line {
  height: 1200px; /* Adjust as needed for your content */
  width: 2px;
  display: block;
  background-color: #e0e4e9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 7%;
}

.line_inner {
  width: 2px;
  height: 0; /* Start at 0% height */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #df131b;
  transition: height 0.1s ease-out; /* Smooth transition */
}

.line_inner img {
  width: 47px;
  margin-right: 2px;
  transform: translateY(42px);
  position: relative;
  z-index: 9;
}
.section-point{
  position: relative;
}
.section-point::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translate(-50%);
}







































































.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle>.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background-color: #52ba63;
}


#terms-and-condition .term-box{
  background-color: #F7F5F5;
  padding: 2rem 0;
  list-style: none;
  font-size: var(--small);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
}


#terms-and-condition{
  padding: 2rem 0 4rem 0;
}
#terms-and-condition .term-box li{
  margin-bottom: 2rem;
}

#terms-and-condition .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  font-weight: 600;
  background-color: var(--primary);
}
#terms-and-condition .nav-pills .nav-link {
  padding-left: 2rem;
}


#contact-us{
  padding: 2rem 0 4rem 0;
}
.contact-us-container{
  width: 70%;
  margin: auto;
}
.contact-us-card{
  padding: 2rem;
  background: #F5F5F5;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  position: relative;
  z-index: 3;
}
.contact-us-card::before{
content: "";
width: 200px;
height: 100px;
background-color: #183A4A;
position: absolute;
top: 0;
right: 0;
z-index: -1;
border-top-right-radius: 15px;
}
.contact-us-card .contact-right{
  background-color: var(--white);
  padding: 2rem 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.contact-right .contact-row{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.contact-right .contact-row .icon-box img{
  width: 20px;
}
.contact-right .contact-row .content-p h6{
  font-size: var(--small);
  font-weight: 600;
  /* margin-bottom: 0; */
}
.contact-right .contact-row .content-p p{
  font-size: var(--small);
  color: #DD5471;
  margin-bottom: 0;
}

#contact-us .note-p p{
  font-size: var(--small);
}
#contact-us .note-p p span{
  font-weight: 600;
  color: var(--primary);
}

#contact-map{
  padding: 2rem 0 4rem 0;
}













