@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  /* colors variables */
  --black: #000000;
  --white: #ffffff;
  --primary: #ED0200;

  /* fobt-size variables */
  --heading1: 32px;
  --title: 29.031px;
  --large: 24px;
  --medium: 17.077px;
  --small: 16px;
  --x-small: 14px;
}

.preheader {
  background-color: var(--black);
  color: var(--white);
  padding: 4px 0;
}

.preheader .left,
.preheader .right {
  font-size: var(--small);
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.preheader .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preheader .icon-text.whatsapp {
  background-color: #52BA63;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--white);
  padding: 2px 14px;
  border-radius: 100px;
  font-weight: 600;
  height: fit-content;
}
.preheader .icon-text.whatsapp img{
  max-height: 20px;
}
.preheader .icon-text.contactUs{
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 1px 7px;
  border-radius: 50px;
  height: fit-content;
}

.main-header {
  padding: 5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
}

.main-header .header {
  display: flex;
}

.main-header .header-logo {
  width: 20%;
}

.main-header .header-logo img {
  max-width: 130px;
}

.main-header .dekstop-menu {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-size: var(--medium);
}
.main-header .dekstop-menu .active{
  color: var(--primary);
  position: relative;
}
.main-header .dekstop-menu li{
  cursor: pointer;
}
.main-header .dekstop-menu .active::before{
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--primary);
  position: absolute;
  bottom: -2px;
  left: 0;
}
#hero-section{
  margin-top: .5rem;
  padding-bottom: 2rem;
}
#hero-section .left {
  width: 75%;
}

#hero-section .right {
  width: 25%;
}

#hero-section .carousel-indicators .active{
  background-color: var(--primary);
}
.form-label1 {
  color: var(--white);
  font-size: var(--x-small);
}

.form-control1 {
  background-color: #EEE;
  backdrop-filter: blur(1.707692265510559px);
  border-radius: 6px;
  font-size: var(--x-small);
  padding: 5px 10px;
  outline: none;
  border: none;
}

.cunsult-form {
  border-radius: 10px;
  border: 1px solid #FFF;
  background: linear-gradient(172deg, #C90306 2.85%, #750304 93.97%);
  backdrop-filter: blur(5.123076915740967px);
  padding: 1rem;
  font-weight: 300;
  min-height: 100%;
  position: relative;
}
.cunsult-form-footer{
  width: calc(100% - 2rem);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.cunsult-form-footer input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.cunsult-form .cunsult-form-title{
  font-size: var(--large);
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-align: center;
}
.cunsult-form .btn{
  padding: 5px 10px;
  font-size: var(--medium);
  background-color: #EEE;
}
.cunsult-form .form-control{
  padding: 7px 10px;
  font-size: var(--x-small);
  background-color: #EEE;
  border: none;
  outline: none;
}
.cunsult-form .form-control:focus{
  border: none;
  outline: 0;
  box-shadow: none;
}
.cunsult-form .whatsapp-lable{
  font-size: var(--x-small);
  color: var(--white);
}
/* .cunsult-form .accept-term input{

} */
.cunsult-form .accept-term p{
  color: var(--white);
  font-size: var(--x-small);
}
.cunsult-form .buttonBox button{
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  border: none;
  padding: 5px 0;
  border-radius: 7px;
  font-size: var(--medium);
}
.cunsult-form .dropdown-toggle{
  font-size: var(--x-small);
}

#popular-des-section{
  padding: 2rem 0;
  background-color: #F9F9F9;
  position: relative;
}
 .cross-line1{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
.cross-line2{
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
  z-index: 1;
}
.cross-line3{
  position: absolute;
  top: 56%;
  transform: translate(0, -50%);
  right: 0;
}
.section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title h2{
  font-size: var(--title);
  position: relative;
  width: fit-content;
}
.section-title h2::before {
  content: "";
  width: 44px;
  height: 100%;
  background-image: url(../assets/extra/heading-extra.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -16px;
  right: -27px;
}
.section-title h2 span{
  color: var(--primary);
  font-weight: 600;
}
.section-title p{
  font-size: var(--small);
}

.filp-card-main{
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--white);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10px;
}
.flip-card-front .popular-tag-box {
position: absolute;
top: 10px;
right: 10px;
width: 80px;
text-align: center;
}
.flip-card-front .popular-tag-box .popular-tag{
  background-color: var(--primary);
  padding: 2px;
  font-size: 12px;
  border-radius: 4px;
  color: var(--white);
}
.flip-card-front .popular-tag-box .swap-icon{
  text-align: right;
  margin-top: .5rem;
}
.flip-card-front .flip-card-flag{
  margin-bottom: 1rem;
}

.flip-card-back {
  background-color: var(--white);
  transform: rotateY(180deg);
  padding: 1rem;
  border-radius: 10px;
}
.flip-card-back h4{
  font-weight: 600;
}
.flip-card .sevices-list{
  padding-left: 1rem;
  line-height: 30px;
}


#our-ser-section{
 background-color: var(--white);
 padding: 2rem 0; 
 position: relative;
}
#our-ser-section .service-card{
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.14);
  border-radius: 7px;
  height: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 7;
}
#our-ser-section .service-card .card-header{
  padding: .5rem;
  border-radius: 7px 7px 0 0;
}
#our-ser-section .service-card .card-header.red{
  background: linear-gradient(180deg, #B43937 0%, #4E1918 100%);
}
#our-ser-section .service-card .card-header.yellow{
  background: linear-gradient(180deg, #BB9630 0%, #554416 100%);
}
#our-ser-section .service-card .card-header.green{
  background: linear-gradient(180deg, #3F8C57 0%, #112618 100%);
}
#our-ser-section .service-card .card-header.blue{
  background: linear-gradient(180deg, #41569F 0%, #171F39 100%);
}

#our-ser-section .service-card .card-header img{
  max-width: 90px;
}
#our-ser-section .service-card .card-header h5{
  font-size: var(--medium);
  margin-bottom: 0;
  margin-top: 1rem;
  color: var(--white);
}
#our-ser-section .service-card .card-body{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
}
#our-ser-section .service-card .card-body p{
  font-size: var(--x-small);
}
#our-ser-section .service-card .card-body a{
  font-size: var(--x-small);
  color: #252525;
}

#end-to-end-section{
  padding: 2rem 0;
  background-color: #F9F9F9;
  position: relative;
}
#end-to-end-section::before{
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40px;
  left: 20px;
  background-image: url(../assets/extra/end-to-end-left.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#end-to-end-section::after{
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  background-image: url(../assets/extra/end-to-end-right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#end-to-end-section .end-to-end-svg-box{
  width: 50%;
  margin: auto;
  position: relative;
}
#end-to-end-section .end-to-end-svg-box .svg-man-box{
  position: absolute;
  width: 300px;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
#end-to-end-section .end-to-end-svg-box .svg-man-box .end-to-end-bulb {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 80px;
}
#five-star-service{
  padding: 2rem 0;
  background-color: var(--white);
  position: relative;
}
#five-star-service .five-star-container{
  margin-top: 2rem;
}
#five-star-service .five-star-service{
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#five-star-service .five-star-service.super-fast{
  background: linear-gradient(90deg, #B43937 0%, #682E2D 100%);
}
#five-star-service .five-star-service.fair-pricing{
  background: linear-gradient(90deg, #3F8C57 0%, #112618 100%);}
#five-star-service .five-star-service.convenient{
  background: linear-gradient(90deg, #41569F 0%, #171F39 100%);}
#five-star-service .five-star-service.precise{
  background: linear-gradient(90deg, #D07912 0%, #6A3E09 100%);}
#five-star-service .five-star-service.reliable{
  background: linear-gradient(90deg, #7F56C1 0%, #3C295B 100%);}
#five-star-service .five-star-service.feedback{
  background: linear-gradient(90deg, #BB9630 0%, #554416 100%);}
#five-star-service .five-star-service-image{
  width: 140px;
  height: 140px;
  background-color: var(--white);
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.14));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -2px;
  text-align: center;
}
#five-star-service .five-star-service-image img{
  max-height: 100%;
}
#five-star-service .five-star-service h5{
  font-size: var(--medium);
}
#five-star-service .five-star-service p{
font-size: var(--x-small);
font-weight: 300;
margin-bottom: 0;
width: 75%;
}






.simple-step-image{
  width: 35%;
  margin: auto;
}

.simple-image-content{
  height: 200px;
}
.simple-image-content .simple-step-lable{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}
.simple-image-content .simple-step-lable img{
  max-width: 27px;
}
.simple-image-content .simple-step-lable p{
  color: var(--primary);
  font-size: var(--small);
  margin-bottom: 0;
  font-weight: 500;
}
.simple-image-content h5{
  font-weight: 600;
  color: #002147;
}
.simple-image-content p{
  color: #666965;
  font-size: small;
}


#success-stories{
  padding: 2rem 0;
}



.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 10px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
  transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-content {
  background: #fff;
  padding: 7px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-slide .post-content img{
  width: 30px;
}

.post-slide .post-content h5 {
  font-size: var(--medium);
  margin-bottom: 0;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: 44%;
  left: -9px;
  width: 37px;
  height: 37px;
  /* padding: 0 11px 0 15px; */
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: 44%;
  right: -9px;
  width: 37px;
  height: 37px;
  /* padding: 0 11px 0 15px; */
  border-radius: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 25px;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}





































































































































































































.arrow_container {
  /* height: 3500px; */
  display: flex;
  overflow: hidden;
  justify-content: center;
  padding: 2rem 0;
  background-color: #F4F4F4;
  position: relative;
}
.line {
  height: 100%;
  width: 2px;
  display: block;
  background-color: #e0e4e9;
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translate(-50%, 0);
}
.line_inner {
  width: 2px;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #df131b;
}
.line_inner img {
  width: 67px;
  margin-right: 2px;
  transform: translateY(60px);
  position: relative;
  z-index: 9;
}
.dots_wrapper {
  height: 825px;
  width: 300px;

  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.dots_wrapper .dot {
  width: 15px;
  height: 15px;
  background-color: #df131b;
  display: block;
  border-radius: 50%;
  margin-left: 2px;
}






































































.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
